<%- include('../../../partials/header/index') %>
  <%- include('../../../partials/navbar/index') %>

  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2>Cadastro de categoria</h2>
      </div>

      <div class="card-body">
        <form action="/admin/categories/create" method="post">
          <label for="title">Categoria:</label>
          <input class="form-control" type="text" name="title" id="title" placeholder="Título da categoria">
          <button class="btn btn-success my-4">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
<%- include('../../../partials/footer/index') %>